/* src/scenes/playerselector.css */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
}

.player-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 850px;
}

.player-selector h1 {
    color: white;
}

#player-attributes-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white;
}

#player-attributes-table th, #player-attributes-table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

#player-attributes-table th {
    background-color: #333;
}

.player-icon-small {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.player-icon-small:hover {
    border: 2px solid white;
}

